@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 100%, 100%);
    background: no-repeat left/85% url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}

/* navigation */
.main-nav {
    padding: 52px 0 38px 82px;
}

/* container for content */
.huddle-container {
    display: flex;
    align-items: center;
    min-height: 800px;
    /* outline: 1px solid #fff; */
    padding: 0 52px 0 82px ;
    gap: 52px;
    
}

/* separation of columns */
#huddle-photo {
    width: 900px;
}
.column-1 {
    /* outline: 1px solid #fff; */
    width: 50%;
}

.column-2 {
    /* outline: 1px solid #fff; */
    width: 36%;
    height: 540px;
}

/* main text for column 2 */
.main-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 52px;
}

.body-text {
    font-size: 23px;
}

/* button for registration */

#btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', san-serif;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: solid 1px #fff;
    border-radius: 30px;
    width: 250px;
    height: 65px;
    margin-top: 32px;
}

/* footer */

.footer {
    display: flex;
    justify-content: flex-end;
    
}